#register-body {
	height: 100%;
	background-image: url('../images/background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.selectedImageContainer__wrapper {
	list-style-type: none;
}

.selectedImageContainer__wrapper {
	list-style-type: none;
}